@use 'variables';

.event{
    padding: 80px 0;

    &--bday-1{
        background-image: linear-gradient(variables.$old-rose, variables.$misty);
    }
    &--bday-2{
        background-image: linear-gradient(variables.$misty, variables.$violet);
    }
    &--bday-3{
        background-image: linear-gradient(variables.$violet, variables.$old-rose);
    }
    &--bday-4{
        background-image: linear-gradient(variables.$old-rose, variables.$orange);
    }

    &--left-img{
        .container{
            flex-direction:row-reverse;
        }
    }

    .container{
        display: flex;
        gap: 40px;
    }

    &__image{
        max-width: 360px;
        border-radius: 16px;
    }
    &__details{

        &__title{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }
        &__description{
            line-height: 22px;
        }
    }

    @media (max-width:640px){
        .container{
            display: block;
            margin-left: 8px;
        }
        &__image{
            width: 90%;

        }

        &__details{
            margin-left: 2px;
            &__title{
                display: flex;
                text-align: center;
            }
            &__description{
                margin-bottom: 16px;
            }
        }

}
}